<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Login</h1>


<form th:action="@{/login/pizzapage}" th:object="${user}" method="post">
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}" required>
    </div>

  <button type="submit">Log ind</button>
</form>



</body>
</html>