<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h1>Register bruger</h1>

<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label for="username">Brugernavn</label>
        <input type="text" id="username"  th:field="*{name}" required>
    </div>

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}" required>
    </div>

    <div>
        <label for="address">Adresse</label>
        <input type="text" id="address"  th:field="*{address}" required>
    </div>


    <button type="submit">Gem oplysninger</button>
</form>

</body>
</html>